<footer class="ft">
    <div class="ft-info-social">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="comp-name">&copy; WanderLust Private Limited</div>
    <div class="ft-info-links">
       <a href="/privacy">Privacy</a>
       <a href="/terms">Terms</a>
    </div>

</footer>