 <style>
  .container-fluid a i{
   font-size:2rem;
}
  .search-btn{
   border-radius:25px;
   background-color: red;
   color:white;
   padding:0 1rem 0 1rem;
   }
   .search-btn:hover{
   
   background-color: red;
   color:white;
   height:2rem;
   }
  .search-btn i{
    display:inline;
    margin-right:0.5rem;
  }
   .search-input{
  border-radius:25px;
  padding:0.5rem 3rem 0.5rem 3.5rem;
  font-size:1rem;
  margin-right:2rem;
  height:2rem;
 }
 </style>
 <nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" 
    data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
    aria-controls="navbarNavAltMarkup" aria-expanded="false" 
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse me-5 " id="navbarNavAltMarkup" >
      <div class="navbar-nav">
        <!-- <a class="nav-link " aria-current="page" href="/">Home</a> -->
        <a class="nav-link" href="/listing">Explore</a>    
      </div>
    </div>
    <div class="navbar-nav  ms-10 me-5 ">
      <form class="d-flex" role="search">
        <input class="form-control me-2 search-input" type="search" placeholder="Search destinations" aria-label="Search">
        <button class="btn btn-outline-success search-btn" type="submit"><i class="fa-solid fa-magnifying-glass "></i>Search</button>
      </form>
    </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link " href="/listing/new">Airbnb your home</a>
       <% if(!curruser){%>
        <a class="nav-link " aria-current="page" href="/user/signup"><b>Sign Up</b></a>
        <a class="nav-link" href="/user/login"><b>Log In</b></a>
     <% } %>
      <%if(curruser){%>
        <a class="nav-link " href="/user/logout">Log Out</a>
      <%}%>
    </div>

  </div>
</nav>
