body{
   font-family: "Quicksand", serif;
   
   font-weight: 500;
   display:flex;
   flex-direction:column;
    min-height:100vh   !important;
} 
.container{
   flex:1;
}

.listing-list{
   text-decoration:none !important;
}
.listing-list p{
   color:black !important;
}
.listcard{
   opacity:1;
}
.listcard:hover{
   opacity:0.3;
   background-color:white;
}


.navbar{
   height: 5rem;
   background-color: white;
}
.fa-compass{
   color : red;
}
.nav-link{
   color: rgb(0, 0, 0) !important;
}
.nav-bar  a:hover{
   color :red;
}
.listcard{
   border:none !important;
   margin-bottom:3rem;
}
.card-img-top{
   border-radius: 1rem !important;
   width:100% !important;
   object-fit:cover !important;
   height: 20rem;
}
.card-body{
   padding:0px !important ;
}
.card-text{
   font-weight:400 !important;
}

.ft-info-links a{
   text-decoration:none;
   color: black;

}
.ft-info-links a:hover{
   text-decoration:underline;
}
.ft{
   background-color: darkgrey;
   display:flex;
   flex-wrap:wrap;
    height: 8rem !important ; 
   text-align:center;
   justify-content: center;
   align-items:space-evenly;
   /* flex:1; */
}
.ft-info-social, .ft-info-links, .comp-name{
   width:100%;
   display:flex;
   justify-content: center;
   align-items:center;

}
.ft-info-social i{
  margin-right:0.5rem;
  font-size:1.2rem;
}
.desc{
   height:6rem !important;
}
.add-btn{
   background-color: red !important;
   border:none !important;
}
.new-body , .edit-body{
   font-family: "Quicksand", serif;
   
   font-weight: 500;
   min-height:100vh !important;
}
.card-text{
   padding:0;
   margin-left:2px;
}
.show-img{
   border-radius: 1rem !important;
   width:100% !important;
   object-fit:cover !important;
   height: 15rem;
}
.show-btn{
   margin-right:1.5rem;
}
.index-row{
   padding-left:23px;
}
.index-head{
   margin-left:53px;
}
.search-btn{
   border-radius:25px;
   background-color: red;

}

