<% layout("/layouts/boilerplate")%>

<br><br>
    <div class="row ">
        <div class="alert alert-danger col-6 offset-3 d-flex align-items-center" role="alert">
            
            <div>
              <h3><%=message%></h3>
            </div>
            </div>
    </div>




