<% layout("/layouts/boilerplate") %>
<body class="new-body">
    <div class="row">
        <div class="col-8 offset-2">
            <br>
    <h3>Create new listing</h3>
    
    <form method="POST" class="needs-validation" novalidate action="/listing" enctype="multipart/form-data" > 
        <div class="mb-3">
            <label for="text" class="form-label">Title</label>
            
            <input type =text required placeholder ="enter title" class="form-control" id ="text" name = "listing[title]">
            <div class="valid-feedback">
               Looks good!
             </div>
             <div class="invalid-feedback">
               Please provide a valid text.
             </div>
         </div>
     
    
     <div class="mb-3 ">
        <label for="description" class="form-label">Description</label>
        <textarea type =textarea required placeholder ="enter description" id="description" class="form-control desc" name = "listing[description]"></textarea>
        <div class="valid-feedback">
         Looks good!
       </div>
      </div>
  
     
     <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input type=file  placeholder ="enter image url" id="image" class="form-control" name="listing[image]">
        <div class="valid-feedback">
         Looks good!
       </div>
      </div>
    
     <div class="row">
        <div class="mb-3 col-md-4">
       
            <label for="price" class="form-label">Price</label>
            <input type =number required placeholder ="enter price"id="image" class="form-control" name = "listing[price]">
            <div class="invalid-feedback">
               Please provide a valid price.
             </div>
         </div>
    
         <div class="mb-3 col-md-8">
             <label for="country" class="form-label">Country</label>
             <input type =text required placeholder ="enter country" class="form-control" id="country" name= "listing[country]">
             <div class="invalid-feedback">
               Please provide a valid country.
             </div>
            </div>
     </div>
     

        <div class="mb-1">
           <label for="location" class="form-label">Location</label>
           <input type =text required placeholder ="enter location" class="form-control" id="location" name = "listing[location]">
           <div class="invalid-feedback">
            Please provide a valid location.
          </div>
         </div>
        
     <br><br>
    <button class="btn add-btn btn-dark">Add</button>
    <br>

    </form>
    <br>
</div>
</div>
</body>
