<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <h1>LogIn on WanderLust</h1>
        <form action="/user/login" class="needs-validation" novalidate method="Post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                
                <input type ="text" required placeholder ="enter username" class="form-control" id ="username" name = "username">
                <div class="valid-feedback">
                   Looks good!
                 </div>
                 <div class="invalid-feedback">
                   Please provide a valid username.
                 </div>
             </div>
           
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                
                <input type ="password" required placeholder ="enter password" class="form-control" id ="password" name = "password">
                
             </div>
          <button class="btn btn-success">LogIn</button>
        </form>
    </div>

</div>